
<div class="tracker-section">
    <div class="row">
        <div class="col-6">
            <h6 class="text-muted-header">Employee Reimbursement Tracker</h6>
        </div>
        <div class="col-6">
            <i class="fa fa-refresh fa-1x affine-blue-text-noline pull-right" (click)="refresh(selectedItems)"></i>
        </div>
    </div>

    <div class="horizontal-pipe-line"></div>

	<div class="tabs-details-container">
		<div class="tabs-list">
            <div class="row mt-3" style="margin-top:0px !important">
                <div class="col-sm-6 col-md-12">
                    <div class="basic-details tab-content">
                        <div class="tab-info tab-pane active">
                            <div class="row">
                                <div class="col-6">
                                    <label class="search-label">Selected: {{ claimsTable.selectedRows.length }} </label>
                                    <label class="search-label" *ngIf="claimsTable.selectedRows.length >=1; else approvedAmount()"> Approved Amount: {{ SumOfApprovedAmount }}</label>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="message"> {{ SuccessSave }} </h6> <h6 class="message"> {{ SuccessMail }} </h6>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-default export-excel affine-blue" (click)="fileDownload(claimsTable.selectedRows)">Download <i class="fa fa-file-excel-o"></i></button>
                                    <button class="btn btn-default pull-right affine-blue" (click)="addClaim()" *ngIf ="claimsTable.selectedRows.length >=1">  Paid Mail <i class="fa fa-plus"> </i></button>
                                    <button class="btn btn-default pull-right affine-blue" (click)="addClaim()" *ngIf ="claimsTable.selectedRows.length ===0"> Add Claims <i class="fa fa-plus"> </i></button>
                                </div>
                            </div>
                            <hr class="cus-hr" />
                            <div class="row form-row" [hidden]="addReimbursementForm">
                                <div class="col-12">
                                    <i class="fa fa-times pull-right" (click)="hideTab()"></i>
                                </div>
                                <div class="col-12" *ngIf="ReimbursementDetails">
                                    <form novalidate #f="ngForm" (ngSubmit)="save(f.value)" class="tab-info tab-content">
                                        <!-- <input class="form-control" type="text"  name="Claim_Id" [ngModel]="ReimbursementDetails.Claim_Id" #claimId="ngModel" /> -->
                                        <h6 class="tab-h6"> Selected Claim Id :  {{ ReimbursementDetails.Claim_Id }} </h6>
                                        <hr class="cus-hr"/>
                                    <div class="row cus-row" >
                                        <div class="col-md-6">
                                            <div class="form-group" *ngIf="!whenMultiple">
                                                <div class="row">
                                                    <label class="col-md-5"> Date of Receipt  <span class="pull-right"> : </span> </label>
                                                    <div class="col-md-6">
                                                        <input class="form-control" type="date"  name="Date_Of_Receipt" [ngModel]="ReimbursementDetails.Date_Of_Receipt | date:'yyyy-MM-dd'" (ngModelChange)="ReimbursementDetails.Date_Of_Receipt=$event" #DateReceipt="ngModel"  placeholder="Date Receipt" required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" *ngIf="!whenMultiple">
                                                <div class="row">
                                                    <label class="col-md-5"> Employee Id <span class="pull-right"> : </span> </label>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" list="EmployeeId" name="Employee_Id" [(ngModel)]="ReimbursementDetails.Employee_Id" #EmployeeId="ngModel"  placeholder="Employee Id" (blur)="employeeDetail($event.target.value)" required />
                                                        <datalist id="EmployeeId">
                                                            <option *ngFor="let coun of empList" value="{{ coun.Employee_Id }}">
                                                                {{ coun.Map_Education_Boards_Name }}
                                                            </option>
                                                        </datalist>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" *ngIf="!whenMultiple">
                                                <div class="row">
                                                    <label class="col-md-5"> Employee Name <span class="pull-right"> : </span> </label>
                                                    <div class="col-md-6">
                                                        <input type="text" [attr.readonly]="value ? 'readonly' : null" class="form-control" name="Employee_Name" [(ngModel)]="ReimbursementDetails.Employee_Name" #EmployeeName="ngModel"  placeholder="Employee Name" list="employees" autocomplete="off" required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" *ngIf="!whenMultiple">
                                                <div class="row">
                                                    <label class="col-md-5"> Employee Email <span class="pull-right"> : </span> </label>
                                                    <div class="col-md-6">
                                                        <input type="text" [attr.readonly]="value ? 'readonly' : null" class="form-control" name="Employee_Email" [(ngModel)]="ReimbursementDetails.Employee_Email" #EmployeeEmail="ngModel"  placeholder="Employee Email" required/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" *ngIf="!whenMultiple">
                                                <div class="row">
                                                    <label class="col-md-5"> Amount Type <span class="pull-right"> : </span> </label>
                                                    <div class="col-md-6">
                                                        <input type="radio" name="Amount_Type" [(ngModel)]="ReimbursementDetails.Amount_Type" #AmountType="ngModel" value="indian"> <span class="radio-text" required> Rupees </span>
                                                        <input type="radio" name="Amount_Type" [(ngModel)]="ReimbursementDetails.Amount_Type" #AmountType="ngModel" value="dollar"><span class="radio-text" required> Dollar </span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" *ngIf="!whenMultiple">
                                                <div class="row">
                                                    <label class="col-md-5"> Claim Amount <span class="pull-right"> : </span> </label>
                                                    <div class="col-md-6">
                                                        <input type="number" class="form-control" name="Claim_Amount" [(ngModel)]="ReimbursementDetails.Claim_Amount" #ClaimAmount="ngModel" placeholder="Claim Amount" required/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" *ngIf="!whenMultiple">
                                                <div class="row">
                                                    <label class="col-md-5"> Expense Type <span class="pull-right"> : </span> </label>
                                                    <div class="col-md-6">
                                                        <select name="Expense_Type" [(ngModel)]="ReimbursementDetails.Expense_Type" class="form-control" required>
                                                            <option value="direct"> Direct </option>
                                                            <option value="indirect"> Indirect </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" *ngIf="!whenMultiple">
                                                <div class="row">
                                                    <label class="col-md-5"> Expense Details <span class="pull-right"> : </span> </label>
                                                    <div class="col-md-6">
                                                        <textarea type="text" class="form-control" name="Expense_Details" [(ngModel)]="ReimbursementDetails.Expense_Details" #ExpenseDetails="ngModel" placeholder="Expense Detail" required> </textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group" *ngIf="!whenMultiple">
                                                <div class="row">
                                                    <label class="col-md-5"> Project Name <span class="pull-right"> : </span> </label>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" name="Project_Name" [(ngModel)]="ReimbursementDetails.Project_Name" #ProjectName="ngModel" placeholder="Project Name" required/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" *ngIf="!whenAccept">
                                                <div class="row">
                                                    <label class="col-md-5"> Status <span class="pull-right"> : </span> </label>
                                                    <div class="col-md-6">
                                                        <select class="form-control" name="Status" [(ngModel)]="ReimbursementDetails.Status" #Status="ngModel" (change) ="statusFind($event.target.value)" required>
                                                            <option value="Submitted"> Submitted </option>
                                                            <option value="Accept"> Accept </option>
                                                            <option value="Hold"> On Hold </option>
                                                            <option value="Paid"> Paid </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" *ngIf="!whenHold">
                                                <div class="row">
                                                    <label class="col-md-5"> Approved Amount <span class="pull-right"> : </span> </label>
                                                    <div class="col-md-6">
                                                        <input type="number" class="form-control" name="Approved_Amount" [(ngModel)]="ReimbursementDetails.Approved_Amount" #ApprovedAmount="ngModel" placeholder="Approved Amount" required/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" *ngIf="!whenHold">
                                                <div class="row">
                                                    <label class="col-md-5"> Date of Approval <span class="pull-right"> : </span> </label>
                                                    <div class="col-md-6">
                                                        <input type="date" class="form-control" name="Approved_Date" [ngModel]="ReimbursementDetails.Approved_Date | date: 'yyyy-MM-dd'" (ngModelChange)="ReimbursementDetails.Approved_Date=$event" #ApprovedDate="ngModel" required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" *ngIf="!whenPaid">
                                                <div class="row">
                                                    <label class="col-md-5"> Date of payment <span class="pull-right"> : </span> </label>
                                                    <div class="col-md-6">
                                                        <input type="date" class="form-control" name="Paid_Date" [ngModel]="ReimbursementDetails.Paid_Date | date: 'yyyy-MM-dd'" (ngModelChange)="ReimbursementDetails.Paid_Date=$event" #PaidDate="ngModel" required/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" *ngIf="!whenComment">
                                                <div class="row">
                                                    <label class="col-md-5"> Comments <span class="pull-right"> : </span> </label>
                                                    <div class="col-md-6">
                                                        <textarea type="text" class="form-control" name="Comment" [(ngModel)]="ReimbursementDetails.Comment" #comment="ngModel" placeholder="Comment" required> </textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-default btn-cus-grey pull-right" [hidden]="submitButton" > SUBMIT </button>
                                            <button type="submit" class="btn btn-default btn-cus-grey pull-right" [hidden]="saveButton"> SAVE </button>
                                        </div>
                                    </div>
                                  </form>
                              </div>
                          </div>

                          <div class="row" [hidden]="noClaims" style="background:#f7f7f7">
                            <div class="col-md-3">
                                <label class="search-label"> Search : </label>
                                <input type="text" class="form-control search-input" list="EmployeeId" multiple id="inputName" [(ngModel)]="inputName" placeholder="Search by Emp Id, Name, Status" (keyup)="searchValue($event)"/>
                            </div>
                            <div class="col-9">
                                <form novalidate #f="ngForm" (ngSubmit)="filter(f.value)">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <angular2-multiselect class="form-control" [data]="empSet" [(ngModel)]="selectedItems" name=[(ngModel)]
                                                [settings]="dropdownSettings"
                                                (onSelect)="onItemSelect($event)"
                                                (onDeSelect)="OnItemDeSelect($event)"
                                                (onSelectAll)="onSelectAll($event)"
                                                (onDeSelectAll)="onDeSelectAll($event)">
                                            </angular2-multiselect>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="search-label pull-right"> From : </label>
                                            <input type="date" style="width:180px;float:right" class="form-control search-input pull-right" name="From_Claims" [(ngModel)]="From_Claims" #From="ngModel"/>
                                        </div>
                                        <div class="col-3">
                                            <label class="search-label"> To : </label>
                                            <input style="width:150px" type="date" class="form-control search-input" name="To_Claims" [(ngModel)]="To_Claims" #To="ngModel" />
                                        </div>
                                        <div class="col-md-2 ">
                                            <button type="submit" class="btn btn-default export-excel pull-right">Filter <i class="fa fa-filter"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                              <div class="col-12">
                                  <data-table
                                    [items]="claimList"
                                    [itemCount]="claimCount"
                                    (reload)="reloadClaims($event)"
                                    [pagination]="true"
                                    [indexColumn]="false"
                                    [selectColumn]="true"
                                    [multiSelect]="true"
                                    [limit]="0"
                                    [header]="false"
                                    [selectOnRowClick]="false"
                                    >
                                    <data-table-column
                                      property="Claim_Id"
                                      header="Claim Id">
                                      <ng-template #dataTableCell let-item="item">
                                           <button (click)="showClaim(item)" class="btn btn-sm btn-default affine-blue-text"> {{ item.Claim_Id }} </button>
                                       </ng-template>
                                    </data-table-column>
                                    <data-table-column
                                      property="Employee_Id"
                                      header="Employee Id">
                                    </data-table-column>
                                    <data-table-column
                                      property="Employee_Name"
                                      header="Employee Name ">
                                    </data-table-column>
                                    <data-table-column
                                      property="Employee_Name"
                                      header="Date of Receipt">
                                      <ng-template #dataTableCell let-item="item">
                                          {{ item.Date_Of_Receipt | date: 'yyyy-MM-dd' }}
                                       </ng-template>
                                    </data-table-column>
                                    <data-table-column
                                      property="Claim_Amount"
                                      header="Claim Amount">
                                      <ng-template #dataTableCell let-item="item">
                                           {{ item.Claim_Amount | currency:'USD':true:'1.2-2' }}
                                         <!-- <span *ngIf="item.Amount_Type == indian; else {{item.Claim_Amount}}" >   </span> -->
                                         <!-- <span *ngIf="item.Amount_Type == dollar"> {{ item.Claim_Amount | currency:'USD':true:'1.2-2' }} </span> -->
                                       </ng-template>
                                    </data-table-column>
                                    <data-table-column
                                      property="Approved_Amount"
                                      header="Approved Amount">
                                    </data-table-column>
                                    <data-table-column
                                      property="Status"
                                      header="Status">
                                    </data-table-column>
                                  </data-table>
                              </div>
                          </div>
                          <div class="row" [hidden]="!filterStatus">
                             <div class="col-12">
                                  <h6 class="center">{{ filterStatus }}</h6>
                              </div>
                          </div>
                          <div class="row" [hidden]="!noClaims">
                              <h6>Cool... No claims to process.</h6>
                          </div>

                        </div>
                    </div>
                </div>
            </div>

		</div>
	</div>
</div>
