<div class="tracker-section">
    <h6 class="text-muted-header">Employee Profile</h6>
    <div class="horizontal-pipe-line"></div>

	<div class="tabs-details-container">
		<div class="tabs-list">
            <div class="row mt-3">
                <div class="col-sm-6 col-md-12">
                    <ul role="tablist" class="nav nav-tabs justify-content-start">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/basic', employeeid]" href="javascript:void(0)" >
                                BASIC INFORMATION
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/bank', employeeid]" href="javascript:void(0)">
                               BANK INFORMATION
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/family', employeeid]" href="javascript:void(0)">
                               FAMILY / RELATION
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/passport', employeeid]" href="javascript:void(0)">
                               PASSPORT / VISA
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0)">
                               EDUCATION / CERTIFICATION
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/experience', employeeid]" href="javascript:void(0)">
                               EXPERIENCE
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/skills', employeeid]" href="javascript:void(0)">
                               SKILLS
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/history', employeeid]" href="javascript:void(0)">
                               HISTORY
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/resign', employeeid]" href="javascript:void(0)">
                               RESIGN
                            </a>
                        </li>
                    </ul>
                    <div class="education-details tab-content">
                        <div class="tab-info tab-pane active">
                            <form  #f="ngForm" (ngSubmit)="save(f.value)" class="tab-info tab-content">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-3"> Employee ID <span class="pull-right"> : </span> </label>
                                                <div class="col-md-6">
                                                    <input type="text" name="Employee_ID" [(ngModel)]="employeeid" #name="ngModel"  class="form-control" [disabled]="disableInputs" required>
                                                </div>
                                            </div>
                                        </div>
                                        <h6 class="tab-h6"> Class 10Th </h6>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-3"> Board <span class="pull-right"> : </span> </label>
                                                <div class="col-md-6">
                                                    <input class="form-control mr-sm-2" type="text" placeholder="Board"
                                                    list="board" [disabled]="disableInputs" name="Class10_Board" [(ngModel)]="educationDetails.Class10_Board" #name="ngModel" required
                                                    autocomplete="off" pattern="[a-zA-Z ]+" />
                                                    <datalist id="board">
                                                        <option *ngFor="let coun of dataStream.boards" value="{{ coun.Map_Education_Boards_Name }}">
                                                            {{ coun.Map_Education_Boards_Name }}
                                                        </option>
                                                    </datalist>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-3"> Year of Passing <span class="pull-right"> : </span> </label>
                                                <div class="col-md-6">
                                                    <input type="number" min="1900" max="2099" step="1" class="form-control" [disabled]="disableInputs" name="Class10_Year_passing" [(ngModel)]="educationDetails.Class10_Year_passing" #name="ngModel" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-3"> Marks(%) <span class="pull-right"> : </span> </label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" [disabled]="disableInputs" name="Class10_Marks" [(ngModel)]="educationDetails.Class10_Marks" #name="ngModel" required>
                                                </div>
                                            </div>
                                        </div>
                                        <h6 class="tab-h6"> Class 12Th </h6>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-3"> Board <span class="pull-right"> : </span> </label>
                                                <div class="col-md-6">
                                                    <input class="form-control mr-sm-2" type="text" placeholder="Board"
                                                    list="board12"   [disabled]="disableInputs" name="Class12_Board" [(ngModel)]="educationDetails.Class12_Board" #name="ngModel" required
                                                    autocomplete="off" pattern="[a-zA-Z ]+" />
                                                    <datalist id="board12">
                                                        <option *ngFor="let coun of dataStream.boards" value="{{ coun.Map_Education_Boards_Name }}">
                                                            {{ coun.Map_Education_Boards_Name }}
                                                        </option>
                                                    </datalist>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-3"> Year Of Passing <span class="pull-right"> : </span> </label>
                                                <div class="col-md-6">
                                                    <input type="number" min="1900" max="2099" step="1" class="form-control" [disabled]="disableInputs" name="Class12_Year_passing" [(ngModel)]="educationDetails.Class12_Year_passing" #name="ngModel" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-3"> Marks(%) <span class="pull-right"> : </span> </label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" [disabled]="disableInputs" name="Class12_Marks" [(ngModel)]="educationDetails.Class12_Marks" #name="ngModel" required>
                                                </div>
                                            </div>
                                        </div>
                                        <h6 class="tab-h6"> Graduation </h6>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-3"> College <span class="pull-right"> : </span> </label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" [disabled]="disableInputs" name="UG_College" [(ngModel)]="educationDetails.UG_College" #name="ngModel" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-3"> University <span class="pull-right"> : </span> </label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" [disabled]="disableInputs" name="UG_University" [(ngModel)]="educationDetails.UG_University" #name="ngModel" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-3"> Specialization <span class="pull-right"> : </span> </label>
                                                <div class="col-md-6">
                                                    <input class="form-control mr-sm-2" type="text" placeholder="Course Specialization"
                                                    list="UGSpecialization" [disabled]="disableInputs" name="UG_Specification" [(ngModel)]="educationDetails.UG_Specification" #name="ngModel"
                                                    autocomplete="off" required />
                                                    <datalist id="UGSpecialization">
                                                        <option *ngFor="let coun of dataStream.education" value="{{ coun.Map_Education_Name }}">
                                                            {{ coun.Map_Education_Name }}
                                                        </option>
                                                    </datalist>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-3"> Year of Passing <span class="pull-right"> : </span> </label>
                                                <div class="col-md-6">
                                                    <input type="number" min="1900" max="2099" step="1" class="form-control" [disabled]="disableInputs" name="UG_Year_Of_Passing" [(ngModel)]="educationDetails.UG_Year_Of_Passing" #name="ngModel" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-3"> CGPA <span class="pull-right"> : </span> </label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" [disabled]="disableInputs" name="UG_CGPA" [(ngModel)]="educationDetails.UG_CGPA" #name="ngModel" required>
                                                </div>
                                            </div>
                                        </div>
                                        <h6 class="tab-h6"> Post Graduation </h6>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-3"> College <span class="pull-right"> : </span> </label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" [disabled]="disableInputs" name="PG_College" [(ngModel)]="educationDetails.PG_College" #name="ngModel">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-3"> University <span class="pull-right"> : </span> </label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" [disabled]="disableInputs" name="PG_University" [(ngModel)]="educationDetails.PG_University" #name="ngModel">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-3"> Specialization <span class="pull-right"> : </span> </label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" [disabled]="disableInputs" name="PG_Specification" [(ngModel)]="educationDetails.PG_Specification" #name="ngModel">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-3"> Year of Passing <span class="pull-right"> : </span> </label>
                                                <div class="col-md-6">
                                                    <input type="number" min="1900" max="2099" step="1" class="form-control" [disabled]="disableInputs" name="PG_Year_Of_Passing" [(ngModel)]="educationDetails.PG_Year_Of_Passing" #name="ngModel">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-3"> CGPA <span class="pull-right"> : </span> </label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" [disabled]="disableInputs" name="PG_CGPA" [(ngModel)]="educationDetails.PG_CGPA" #name="ngModel">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <h6 class="tab-h6"> Certification </h6>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-3"> Title <span class="pull-right"> : </span> </label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" [disabled]="disableInputs" name="Certification_Title" [(ngModel)]="educationDetails.Certification_Title" #name="ngModel">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-3"> Institute <span class="pull-right"> : </span> </label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" [disabled]="disableInputs" name="Certification_Provider" [(ngModel)]="educationDetails.Certification_Provider" #name="ngModel">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-3"> Certification Details <span class="pull-right"> : </span> </label>
                                                <div class="col-md-6">
                                                    <textarea class="form-control" [disabled]="disableInputs" name="Certification_Details" [(ngModel)]="educationDetails.Certification_Details" #name="ngModel"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="form-group">
                                            <div class="row formArea">
                                                <div class="col-md-12">
                                                   <a class="btn btn-default pull-right" (click)="showForm(i)"> Show Form </a>
                                                   <div class="clear"> </div>
                                                  <form-field [hidden]="!hideForm(i)"> </form-field>
                                                </div>
                                            </div>
                                        </div> -->
                                        <h6 class="tab-h6"> Training </h6>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-3"> Title <span class="pull-right"> : </span> </label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" [disabled]="disableInputs" name="Training_Title" [(ngModel)]="educationDetails.Training_Title" #name="ngModel">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-3"> Institute <span class="pull-right"> : </span> </label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" [disabled]="disableInputs" name="Training_Provider" [(ngModel)]="educationDetails.Training_Provider" #name="ngModel">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-3"> Duration <span class="pull-right"> : </span> </label>
                                                <div class="col-md-3">
                                                    <input type="number" class="form-control  cus-width" [disabled]="disableInputs" name="Training_Duration" [(ngModel)]="educationDetails.Training_Duration" #name="ngModel" min="1" max="99">
                                                    <span class="post-fix-text"> Month(s)</span>
                                                </div>
                                                <!-- <div class="col-md-3 no-pad-left">

                                                </div> -->
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-3"> Course Details <span class="pull-right"> : </span> </label>
                                                <div class="col-md-6">
                                                    <textarea class="form-control" [disabled]="disableInputs" name="Course_Details" [(ngModel)]="educationDetails.Course_Details" #name="ngModel"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="form-group">
                                            <div class="row formArea">
                                                <div class="col-md-12">
                                                   <a class="btn btn-default pull-right" (click)="showForm(i)"> Show Form </a>
                                                   <div class="clear"> </div>
                                                  <form-training [hidden]="!hideForm(i)"> </form-training>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 align-right">
                                      <hr />
                                        <button class="btn btn-default btn-primary edit" type="edit" [hidden]="hideEditButton" (click)="enableEdit()"> Edit </button>
                                        <button class="btn btn-default btn-primary save" type="submit" [hidden]="hideSaveButton" [disabled]="allowSave(f.value)"> Save </button>
                                        <button class="btn btn-default btn-secondary cancel" type="reset" [hidden]="hideCancelButton" (click)="cancelEdit()"> Cancel </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

		</div>
	</div>
</div>
