<div class="pad-10">
    <table class="table table-bordered table-striped cus-table">
        <thead class="thead-inverse">
            <tr>
                <th> # </th>
                <th> Employee Name </th>
                <th> Employee ID </th>
                <th> Designation </th>
                <th> Deployable </th>
                <th> Account(s) </th>
                <th> Project(s) </th>
                <th> Type </th>
                <th> Location </th>
                <th> Status / Remarks </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-resDet [ngForOf]="resourceDetails" let-i="index">
                <tr class="row-{{ i }}">
                    <td> {{ i + 1 }} </td>
                    <td> {{ resDet.Employee_Name }} </td>
                    <td> {{ resDet.Employee_Id }} </td>
                    <td> {{ resDet.Designation_Name }} </td>
                    <td> {{ resDet.Deployable }} </td>
                    <td> {{ resDet.AccountNames }} </td>
                    <td> {{ resDet.ProjectNames }} </td>
                    <td> {{ resDet.Type }} </td>
                    <td> {{ resDet.Location }} </td>
                    <td> {{ resDet.Status }} </td>
                    <td [hidden]="hideForm(i)"> <i class="fa fa-pencil" (click)="showEditForm(i)"></i> </td>
                    <td [hidden]="!hideForm(i)"> <i class="fa fa-times" (click)="cancelEditForm()"></i> </td>
                </tr>
                <tr *ngIf="hideForm(i)">
                    <td colspan="11">
                        <resource-edit-form [resDetails]="resDet"></resource-edit-form>
                    </td>
                </tr>
            </ng-template>
        </tbody>
    </table>
</div>
