<div class="employee-section" [@routerTransition]>
    <h6 class="text-muted-header"> Employee Profile </h6>
    <div class="horizontal-pipe-line"></div>
    <div class="row" *ngIf="empDetails">
        <div class="col-md-3">
            <img src="{{imgSrcPath}}" alt="User image not uploaded." width="100%" class="user-addemployee" />
        </div>
        <div class="col-md-4">
            <h6 class="tab-h6"> Employee Details </h6>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-4 col-form-label-sm bold "> Name <span class="pull-right"> : </span> </label>
                    <div class="col-md-8">
                        <span class="col-form-label-sm bold"> {{ empDetails.Employee_Name }} </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-4 col-form-label-sm bold "> Designation <span class="pull-right"> : </span> </label>
                    <div class="col-md-8">
                        <span class="col-form-label-sm bold"> {{ empDetails.Design_At_Joining }} </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-4 col-form-label-sm bold "> Team <span class="pull-right"> : </span> </label>
                    <div class="col-md-8">
                        <span class="col-form-label-sm bold"> {{ empDetails.Team }} </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-4 col-form-label-sm bold "> Reporting Manager <span class="pull-right"> : </span> </label>
                    <div class="col-md-8">
                        <span class="col-form-label-sm bold"> {{ empDetails.Reporting_Manager }} </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-4 col-form-label-sm bold "> Work Location <span class="pull-right"> : </span> </label>
                    <div class="col-md-8">
                        <span class="col-form-label-sm bold"> {{ empDetails.Work_Location }} </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <h6 class="tab-h6"> Contact Details </h6>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-4 col-form-label-sm bold "> Email Address <span class="pull-right"> : </span> </label>
                    <div class="col-md-8">
                        <span class="col-form-label-sm bold"> {{ empDetails.Email_ID }} </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-4 col-form-label-sm bold "> Phone Number <span class="pull-right"> : </span> </label>
                    <div class="col-md-8">
                        <span class="col-form-label-sm bold"> {{ empDetails.Contact_No }} </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-4 col-form-label-sm bold "> Skype <span class="pull-right"> : </span> </label>
                    <div class="col-md-8">
                        <span class="col-form-label-sm bold"> {{ empDetails.Skype }} </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-4 col-form-label-sm bold "> Linked In Profile <span class="pull-right"> : </span> </label>
                    <div class="col-md-8">
                        <span class="col-form-label-sm bold"> {{ empDetails.LinkedIN }} </span>
                    </div>
                </div>
            </div>
            <h6 class="tab-h6"> Other Details </h6>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-4 col-form-label-sm bold "> Actual Date of Birth <span class="pull-right"> : </span> </label>
                    <div class="col-md-8">
                        <span class="col-form-label-sm bold"> {{ empDetails.Dob_Actual }} </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-4 col-form-label-sm bold "> Blood Group <span class="pull-right"> : </span> </label>
                    <div class="col-md-8">
                        <span class="col-form-label-sm bold"> {{ empDetails.Blood_Group }} </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-4 col-form-label-sm bold "> Emergency Contact <span class="pull-right"> : </span> </label>
                    <div class="col-md-8">
                        <span class="col-form-label-sm bold"> {{ empDetails.EMContact_No }} </span>
                    </div>
                </div>
            </div>
            <h6 class="tab-h6"> Skill Sets </h6>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-8">
                        <div class="btn-group btn-group-justified">
                            <span class="col-form-label-sm bold"> {{ empDetails.Skill_Sets }} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
