<div class="section-container">
    <h6 class="section-content-header">Change Password</h6>
</div>
<div class="horizontal-pipe-line"></div>
<div class="alert alert-warning" role="alert" *ngIf="ftlogin">
  <strong>Warning!</strong> Please change your password.
</div>

<div class="section-detail-container">
    <form novalidate #chPwdForm="ngForm" (ngSubmit)="onSumbit(chPwdForm.value)" class="hris-form">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <div class="row">
                        <label class="col-4 aa-hris-input-label"> Enter Current Password <span class="pull-right"> : </span> </label>
                        <div class="col-6">
                            <input type="password" name="Current_Password" [(ngModel)]="Current_Password" #cp="ngModel" class="form-control aa-hris-pwd-input" required>
                            <div *ngIf="cp.invalid && (cp.touched)" class="alert alert-danger">
    							<div *ngIf="cp.errors.required">
    								Current password is required.
    							</div>
    						</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-4 aa-hris-input-label"> Enter New Password <span class="pull-right"> : </span> </label>
                        <div class="col-6">
                            <input type="password" name="New_Password" [(ngModel)]="New_Password" #np="ngModel" class="form-control aa-hris-pwd-input" required minlength="4" (input)="checkOldNewPassword()" >
                            <div *ngIf="np.invalid && (np.touched)" class="alert alert-danger">
    							<div *ngIf="np.errors.required">
    								New password is required.
    							</div>
    							<div *ngIf="np.hasError('minlength')">
    								At least 4 character password is required.
    							</div>
    						</div>
                            <div *ngIf="oldNewPwdAlertMessage.length > 0" class="alert alert-danger">
                                {{ oldNewPwdAlertMessage }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-4 aa-hris-input-label"> Confirm New Password <span class="pull-right"> : </span> </label>
                        <div class="col-6">
                            <input type="password" name="Confirm_New_Password" [(ngModel)]="Confirm_New_Password" #cnp="ngModel" class="form-control aa-hris-pwd-input" required (blur)="checkNewPassword()" >
                            <div *ngIf="cnp.invalid && (cnp.touched)" class="alert alert-danger">
    							<div *ngIf="cnp.errors.required">
    								Please re-enter the new password.
    							</div>
    						</div>
                            <div *ngIf="confirmPwdAlertMessage.length > 0" class="alert alert-danger">
                                {{ confirmPwdAlertMessage }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5 aa-hris-btn-group">
                <button class="btn btn-default btn-primary submit pull-right " type="submit"> Submit </button>
                <button class="btn btn-default btn-secondary cancel pull-right" type="reset" (click)="cancel()"> Cancel </button>
            </div>
        </div>
    </form>
</div>
