<div class="tracker-section">
    <h6 class="text-muted-header">Employee Profile</h6>
    <div class="horizontal-pipe-line"></div>

	<div class="tabs-details-container">
		<div class="tabs-list">
            <div class="row mt-3">
                <div class="col-sm-6 col-md-12">
                    <ul role="tablist" class="nav nav-tabs justify-content-start">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/basic', employeeid]" href="javascript:void(0)" >
                                BASIC INFORMATION
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/bank', employeeid]" href="javascript:void(0)">
                               BANK INFORMATION
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/family', employeeid]" href="javascript:void(0)">
                               FAMILY / RELATION
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0)">
                               PASSPORT / VISA
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/education', employeeid]" href="javascript:void(0)">
                               EDUCATION / CERTIFICATION
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/experience', employeeid]" href="javascript:void(0)">
                               EXPERIENCE
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/skills', employeeid]" href="javascript:void(0)">
                               SKILLS
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/history', employeeid]" href="javascript:void(0)">
                               HISTORY
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/resign', employeeid]" href="javascript:void(0)">
                               RESIGN
                            </a>
                        </li>
                    </ul>
                    <div class="passport-details tab-content">
                        <div class="tab-info tab-pane active">
                            <form #f="ngForm" (ngSubmit)="save(f.value)" class="tab-info tab-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-3"> Employee ID <span class="pull-right"> : </span> </label>
                                                <div class="col-md-5">
                                                    <input type="text" name="Employee_Id" [(ngModel)]="employeeid" #name="ngModel" class="form-control" required readonly [disabled]="disableInputs">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h6 class="cus-h6">PASSPORT</h6>
                                                    </div>
                                                    <div class="col-md-12">
                                                      <div class="form-group">
                                                          <div class="row">
                                                              <label class="col-md-3"> Passport Number <span class="pull-right"> : </span> </label>
                                                              <div class="col-md-5">
                                                                  <input type="text" class="form-control" name="Passport_Number" [(ngModel)]="passportDetails.Passport_No" #ppNo="ngModel" pattern="[A-Z]{1}\d{7}" [disabled]="disableInputs">
                                                                  <div *ngIf="ppNo.invalid && (ppNo.touched)" class="alert alert-danger">
                                                                      <div *ngIf="ppNo.hasError('pattern')">
                                                                          Specify a valid passport number.
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <div class="form-group">
                                                          <div class="row">
                                                              <label class="col-md-3"> Issued Date <span class="pull-right"> : </span> </label>
                                                              <div class="col-md-5">
                                                                  <input type="date" class="form-control" name="Passport_Issued_Date" [ngModel]="passportDetails.Passport_Issue_Date | date: 'yyyy-MM-dd'"
                                                                  (ngModelChange)="passportDetails.Passport_Issue_Date=$event" #name="ngModel" [disabled]="disableInputs" *ngIf="ppNo" />
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <div class="form-group">
                                                          <div class="row">

                                                              <label class="col-md-3"> Expiry Date <span class="pull-right"> : </span> </label>
                                                              <div class="col-md-5">
                                                                  <input type="date" class="form-control" name="Passport_Expiry_Date" [ngModel]="passportDetails.Passport_Expiry_Date | date: 'yyyy-MM-dd'"
                                                                      (ngModelChange)="passportDetails.Passport_Expiry_Date=$event" #name="ngModel" [disabled]="disableInputs" *ngIf="ppNo"
                                                                  />
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-md-6" hidden>
                                                      <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                              <img src="{{srcPath}}" alt="image not uploaded."width="100%" class="image" />
                                                              <iframe width="180" height="50" name="hidden_iframe" [hidden]="hideIframe"></iframe>
                                                              <form ngNoForm id="frmUploader" enctype="multipart/form-data" action="{{ppDocActPath}}" method="post" target="hidden_iframe" [hidden]="!hideIframe">
                                                                  <input type="file" name="imgUploader" (change)=previewImage($event) [hidden]="disableInputs"/>
                                                                  <button type="submit" name="submit" id="btnSubmit" value="Upload" [hidden]="disableInputs" (click)="updateImageStatus()">Upload</button>
                                                              </form>
                                                            </div>
                                                        </div>
                                                      </div>
                                                  </div>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h6 class="cus-h6"> Visa 1 </h6>
                                            </div>
                                            <div class="col-md-12">
                                                <!-- <h6 class="tab-h6">Visa 1</h6> -->
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-md-3"> Issuing Country <span class="pull-right"> : </span> </label>
                                                        <div class="col-md-5">
                                                            <select class="form-control" name="Visa1_Issued_Country" #visa1IC="ngModel" [(ngModel)]="visaDetails.Visa_Issuing_Country" [disabled]="disableInputs" *ngIf="ppNo">
                                                                <option *ngFor="let coun of dataStream.countries" value="{{ coun.Map_Country_Id }}">
                                                                    {{ coun.Map_Country_Name }}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-md-3"> Visa Type <span class="pull-right"> : </span> </label>
                                                        <div class="col-md-5">
                                                            <select class="form-control" name="Visa1_Type" [(ngModel)]="visaDetails.Visa_Type" #name="ngModel" [disabled]="disableInputs" *ngIf="ppNo">
                                                                <option *ngFor="let visa of dataStream.visas" value="{{ visa.Map_Visa_Id }}">
                                                                    {{ visa.Map_Visa_Name }}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-md-3"> Last Travel Date <span class="pull-right"> : </span> </label>
                                                        <div class="col-md-5">
                                                            <input type="date" class="form-control" name="Visa1_Travel_Date" [ngModel]="visaDetails.Visa_Last_Travel_Date | date: 'yyyy-MM-dd'" (ngModelChange)="visaDetails.Visa_Last_Travel_Date=$event" #name="ngModel"  [disabled]="disableInputs" *ngIf="ppNo">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-md-3"> Status of Visa1 <span class="pull-right"> : </span> </label>
                                                        <div class="col-md-5">
                                                            <textarea class="form-control" name="Visa1_Status" [(ngModel)]="visaDetails.Visa_Status" #name="ngModel"  [disabled]="disableInputs" *ngIf="ppNo"  placeholder="Status of visa"> </textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-md-3"> Expiry Date <span class="pull-right"> : </span> </label>
                                                        <div class="col-md-5">
                                                            <input type="date" class="form-control" name="Visa1_Validity" [ngModel]="visaDetails.Visa_End_Date | date: 'yyyy-MM-dd'" (ngModelChange)="visaDetails.Visa_End_Date=$event" [disabled]="disableInputs" #name="ngModel" *ngIf="ppNo">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" hidden>
                                                <div class="form-group">
                                                  <div class="row">
                                                      <div class="col-md-4">
                                                        <img src="{{srcPathVisa1}}" alt="image not uploaded."width="100%" class="image" />
                                                        <iframe width="180" height="50" name="hidden_iframe_visa" [hidden]="hideIframeVisa"></iframe>
                                                        <form ngNoForm id="visa1Uploader" enctype="multipart/form-data" action="{{visaDocActPath}}" method="post" target="hidden_iframe_visa" [hidden]="!hideIframe">
                                                            <input type="file" name="visa1Uploader" (change)=previewVisa($event) [hidden]="disableInputs"/>
                                                            <button type="submit" name="submit"  value="VisaUpload" [hidden]="disableInputs" (click)="updateImageStatusVisa()">Upload</button>
                                                        </form>
                                                      </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <h6 class="cus-h6"> Visa 2 </h6>
                                              </div>
                                              <div class="col-md-12">
                                                  <!-- <h6 class="tab-h6">Visa 2</h6> -->
                                                  <div class="form-group">
                                                      <div class="row">
                                                          <label class="col-md-3"> Issuing Country <span class="pull-right"> : </span> </label>
                                                          <div class="col-md-5">
                                                              <select class="form-control" name="Visa2_Issued_Country" #visa2IC="ngModel" [(ngModel)]="visaDetails2.Visa_Issuing_Country" [disabled]="disableInputs" *ngIf="ppNo">
                                                                  <option *ngFor="let coun of dataStream.countries" value="{{ coun.Map_Country_Id }}">
                                                                      {{ coun.Map_Country_Name }}
                                                                  </option>
                                                              </select>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <div class="row">
                                                          <label class="col-md-3"> Visa Type <span class="pull-right"> : </span> </label>
                                                          <div class="col-md-5">
                                                              <select class="form-control" name="Visa2_Type" [(ngModel)]="visaDetails2.Visa_Type" #name="ngModel" [disabled]="disableInputs" *ngIf="ppNo">
                                                                  <option *ngFor="let visa of dataStream.visas" value="{{ visa.Map_Visa_Id }}">
                                                                      {{ visa.Map_Visa_Name }}
                                                                  </option>
                                                              </select>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <div class="row">
                                                          <label class="col-md-3"> Last Travel Date <span class="pull-right"> : </span> </label>
                                                          <div class="col-md-5">
                                                              <input type="date" class="form-control" name="Visa2_Travel_Date" [ngModel]="visaDetails2.Visa_Last_Travel_Date | date: 'yyyy-MM-dd'" (ngModelChange)="visaDetails2.Visa_Last_Travel_Date=$event" #name="ngModel"  [disabled]="disableInputs" *ngIf="ppNo">
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <div class="row">
                                                          <label class="col-md-3"> Status of Visa2 <span class="pull-right"> : </span> </label>
                                                          <div class="col-md-5">
                                                              <textarea class="form-control" name="Visa2_Status" [(ngModel)]="visaDetails2.Visa_Status" #name="ngModel" *ngIf="ppNo"  [disabled]="disableInputs" placeholder="Status of visa"> </textarea>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <div class="row">
                                                          <label class="col-md-3"> Expiry Date <span class="pull-right"> : </span> </label>
                                                          <div class="col-md-5">
                                                              <input type="date" class="form-control" name="Visa2_Validity" [ngModel]="visaDetails2.Visa_End_Date | date: 'yyyy-MM-dd'" (ngModelChange)="visaDetails2.Visa_End_Date=$event" #name="ngModel" [disabled]="disableInputs" *ngIf="ppNo">
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <h6 class="cus-h6"> Visa 3 </h6>
                                              </div>
                                              <div class="col-md-12">
                                                  <!-- <h6 class="tab-h6">Visa 3</h6> -->
                                                  <div class="form-group">
                                                      <div class="row">
                                                          <label class="col-md-3"> Issuing Country <span class="pull-right"> : </span> </label>
                                                          <div class="col-md-5">
                                                              <select class="form-control" name="Visa3_Issued_Country" #visa3IC="ngModel" [(ngModel)]="visaDetails3.Visa_Issuing_Country"  [disabled]="disableInputs" *ngIf="ppNo">
                                                                  <option *ngFor="let coun of dataStream.countries" value="{{ coun.Map_Country_Id }}">
                                                                      {{ coun.Map_Country_Name }}
                                                                  </option>
                                                              </select>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <div class="row">
                                                          <label class="col-md-3"> Visa Type <span class="pull-right"> : </span> </label>
                                                          <div class="col-md-5">
                                                              <select class="form-control" name="Visa3_Type" [(ngModel)]="visaDetails3.Visa_Type" #name="ngModel"  [disabled]="disableInputs" *ngIf="ppNo">
                                                                  <option *ngFor="let visa of dataStream.visas" value="{{ visa.Map_Visa_Id }}">
                                                                      {{ visa.Map_Visa_Name }}
                                                                  </option>
                                                              </select>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <div class="row">
                                                          <label class="col-md-3"> Last Travel Date <span class="pull-right"> : </span> </label>
                                                          <div class="col-md-5">
                                                              <input type="date" class="form-control" name="Visa3_Travel_Date" [ngModel]="visaDetails3.Visa_Last_Travel_Date | date: 'yyyy-MM-dd'" (ngModelChange)="visaDetails3.Visa_Last_Travel_Date=$event" #name="ngModel"  [disabled]="disableInputs" *ngIf="ppNo">
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <div class="row">
                                                          <label class="col-md-3"> Status of Visa3 <span class="pull-right"> : </span> </label>
                                                          <div class="col-md-5">
                                                              <textarea class="form-control" name="Visa3_Status" [(ngModel)]="visaDetails3.Visa_Status" #name="ngModel" *ngIf="ppNo" [disabled]="disableInputs"  placeholder="Status of visa"> </textarea>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <div class="row">
                                                          <label class="col-md-3"> Expiry Date <span class="pull-right"> : </span> </label>
                                                          <div class="col-md-5">
                                                              <input type="date" class="form-control" name="Visa3_Validity" [ngModel]="visaDetails3.Visa_End_Date | date: 'yyyy-MM-dd'" (ngModelChange)="visaDetails3.Visa_End_Date=$event" #name="ngModel" [disabled]="disableInputs" *ngIf="ppNo">
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                <div class="row">
                                    <div class="col-md-12 align-right">
                                        <hr />
                                        <button class="btn btn-default btn-primary edit" type="edit" [hidden]="hideEditButton" (click)="enableEdit()"> Edit </button>
                                        <button class="btn btn-default btn-primary save" type="submit" [hidden]="hideSaveButton" [disabled]="allowSave(f.value)"> Save </button>
                                        <button class="btn btn-default btn-secondary cancel" type="reset" [hidden]="hideCancelButton" (click)="cancelEdit()"> Cancel </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

		</div>
	</div>
</div>
