<div class="row">
  <div class="col-12" [hidden]="showAddprojectsButton">
    <button class="btn btn-default btn-cus-grey pull-right" (click)="showAddProject()" > Add Projects </button>
  </div>
  <div class="col-12" [hidden]="showAddprojects" >
    <i class="fa fa-times pull-right" (click)="showAddProjectTab()"></i>
  <form novalidate #f="ngForm" (ngSubmit)="save(f.value)" class="tab-info tab-content">
    <div class="row cus-row" >
        <div class="col-md-5">
            <div class="form-group">
                <div class="row">
                    <label class="col-md-5"> Account Name <span class="pull-right"> : </span> </label>
                    <div class="col-md-7">
                        <input class="form-control" type="text" list="Account" name="account_Name" [(ngModel)]="projectDetails.account_Name" #accountName="ngModel"  placeholder="Account Name"  autocomplete="off" required />
                        <datalist id="Account">
                            <option *ngFor="let coun of dataStream.accounts" value="{{ coun.Account_Name }}">
                                {{ coun.Account_Id }}
                            </option>
                        </datalist>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-5"> Account Manager <span class="pull-right"> : </span> </label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" name="account_Manager" [(ngModel)]="projectDetails.account_Manager" #accountManager="ngModel"  placeholder="Account Manager" list="employees" autocomplete="off" required />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-5"> Project Name <span class="pull-right"> : </span> </label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" name="project_Name" [(ngModel)]="projectDetails.project_Name" #projectName="ngModel" placeholder="Project name" required />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-5"> Project Manager <span class="pull-right"> : </span> </label>
                    <div class="col-md-7">
                        <input class="form-control mr-sm-2" type="text" name="project_Manager" [(ngModel)]="projectDetails.project_Manager" #projectManager="ngModel" placeholder="Project manager" list="employees" autocomplete="off" required />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-5"> Start Date <span class="pull-right"> : </span> </label>
                    <div class="col-md-7">
                        <input type="date" class="form-control" name="Start_Date" [(ngModel)]="projectDetails.Start_Date" #StartDate="ngModel" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-5"> End Date <span class="pull-right"> : </span> </label>
                    <div class="col-md-7">
                      <input type="date" class="form-control" name="End_Date" [(ngModel)]="projectDetails.End_Date" #EndDate="ngModel" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-5"> Project Location <span class="pull-right"> : </span> </label>
                    <div class="col-md-7">
                      <input type="text" class="form-control" name="Project_Location" [(ngModel)]="projectDetails.Project_Location" #ProjectLocation="ngModel"  placeholder="Project Location" required />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <div class="row">
                    <label class="col-md-5"> Project Cost <span class="pull-right"> : </span> </label>
                    <div class="col-md-7">
                      <input type="number" class="form-control" name="Project_Cost" [(ngModel)]="projectDetails.Project_Cost" #ProjectCost="ngModel"  placeholder="Project Cost"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-5"> Total Billed SOW <span class="pull-right"> : </span> </label>
                    <div class="col-md-7">
                      <input type="number" class="form-control" name="Billed_SOW" [(ngModel)]="projectDetails.Billed_SOW" #BilledSOW="ngModel"  placeholder="Billed as per SOW"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-5"> Total Billed Profitability <span class="pull-right"> : </span> </label>
                    <div class="col-md-7">
                      <input type="number" class="form-control" name="Billed_Profitability" [(ngModel)]="projectDetails.Billed_Profitability" #BilledProfitability="ngModel"  placeholder="Biller as per profitability"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-5"> Total Profitability <span class="pull-right"> : </span> </label>
                    <div class="col-md-7">
                      <input type="number" class="form-control" name="Total_Profitability" [(ngModel)]="projectDetails.Total_Profitability" #TotalProfitability="ngModel"  placeholder="Total profitability"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-5"> Project Status <span class="pull-right"> : </span> </label>
                    <div class="col-md-7">
                      <textarea class="form-control" name="Project_Status" [(ngModel)]="projectDetails.Project_Status" #ProjectStatus="ngModel"  placeholder="Project Status"> </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h6 class="tab-h6"> Project Documents </h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
            <div class="row">
                <label class="col-md-3"> S O W <span class="pull-right"> : </span> </label>
                <div class="col-md-5">
                  <input type="hidden" class="form-control" name="SOW_File" [(ngModel)]="projectDetails.SOW_File" #SOWFile="ngModel" />
                  <input type="file" (change)="fileChangeEvent($event)" />
                </div>
                <div class="col-md-3">
                  <button type="button" (click)="upload('SOW_File')">Attach</button> <i class="fa-thumbs-up fa green" [hidden]="SOW_thumbHidden"> </i>
                </div>
            </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="form-group">
            <div class="row">
                <label class="col-md-3"> SOW Start Date <span class="pull-right"> : </span> </label>
                <div class="col-md-3">
                  <input type="date" class="form-control" name="SOW_Start_Date" [(ngModel)]="projectDetails.SOW_Start_Date" #SOW_StartDate="ngModel" />
                </div>
                <label class="col-md-3"> SOW End Date <span class="pull-right"> : </span> </label>
                <div class="col-md-3">
                  <input type="date" class="form-control" name="SOW_End_Date" [(ngModel)]="projectDetails.SOW_End_Date" #SOWEndDate="ngModel" />
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
            <div class="row">
                <label class="col-md-3"> Profitability <span class="pull-right"> : </span> </label>
                <div class="col-md-5">
                  <input type="hidden" class="form-control" name="profitability" [(ngModel)]="projectDetails.profitability" #Profitability="ngModel" />
                  <input type="file" class="form-control" (change)="fileChangeEvent($event)"/>
                </div>
                <div class="col-md-3">
                  <button type="button" (click)="upload('profitability')">Attach</button> <i class="fa-thumbs-up fa green" [hidden]="Profitability_thumbHidden"> </i>
                </div>
            </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="form-group">
            <div class="row">
                <label class="col-md-3"> Profitability Start Date <span class="pull-right"> : </span> </label>
                <div class="col-md-3">
                  <input type="date" class="form-control" name="Profitability_Start_Date" [(ngModel)]="projectDetails.Profitability_Start_Date" #Profitability_StartDate="ngModel" />
                </div>
                <label class="col-md-3"> Profitability End Date <span class="pull-right"> : </span> </label>
                <div class="col-md-3">
                  <input type="date" class="form-control" name="Profitability_End_Date" [(ngModel)]="projectDetails.Profitability_End_Date" #ProfitabilityEndDate="ngModel" />
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <div class="form-group">
            <div class="row">
                <label class="col-md-3"> NDA<span class="pull-right"> : </span> </label>
                <div class="col-md-5">
                  <input type="hidden" class="form-control" name="NDA_File" [(ngModel)]="projectDetails.NDA_File" #NDAFile="ngModel"/>
                  <input type="file" class="form-control" (change)="fileChangeEvent($event)" />
                </div>
                <div class="col-md-3">
                  <button type="button" (click)="upload('NDA_File')">Attach</button> <i class="fa-thumbs-up fa green" [hidden]="NDA_thumbHidden"> </i>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <div class="form-group">
            <div class="row">
                <label class="col-md-3"> MSA <span class="pull-right"> : </span> </label>
                <div class="col-md-5">
                  <input type="hidden" class="form-control" name="MSA_File" [(ngModel)]="projectDetails.MSA_File" #MSAFile="ngModel" />
                  <input type="file" class="form-control" (change)="fileChangeEvent($event)" />
                </div>
                <div class="col-md-3">
                  <button type="button" (click)="upload('MSA_File')">Attach</button> <i class="fa-thumbs-up fa green" [hidden]="MSA_thumbHidden"> </i>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-default btn-cus-grey pull-right"> SAVE </button>
        </div>
    </div>
  </form>
  </div>
</div>
