<div class="row">
    <div class="col-12">
        <div class="col-md-12 cus-background">
            <project-list-form [empId]="employeeid"></project-list-form>
        </div>
    </div>
    <div class="col-12" [hidden]="showProjects">
        <table class="table table-bordered table-striped cus-table" *ngIf="reloadData" [mfData]="ProjectsList" #mf="mfDataTable" [mfRowsOnPage]="8">
            <thead class="thead-inverse">
              <tr>
                  <th> # </th>
                  <th> Account Name </th>
                  <th> Account Manager </th>
                  <th> Project Name </th>
                  <th> Project Manager </th>
                  <th> Project Start Date </th>
                  <th> Project End Date </th>
                  <th> Project Cost </th>
                  <!-- <th> Action </th> -->
              </tr>
            </thead>
            <tbody>
                <ng-template ngFor let-projects [ngForOf]="mf.data" let-i="index">
                  <tr  class="row-{{ i }}">
                      <td> {{ i + 1 }} </td>
                      <td> {{ projects.Account_Name }} </td>
                      <td> {{ projects.Manager_Id }} </td>
                      <td><a class="anchor" (click)=showProject(projects.Project_Name) style="color:#24AEE4;font-weight:600"> {{ projects.Project_Name }} </a></td>
                      <td > {{ projects.Project_Manager }} </td>
                      <td> {{ projects.Project_Start_Date | date: 'yyyy-MM-dd'}} </td>
                      <td> {{ projects.Project_End_Date | date: 'yyyy-MM-dd' }}</td>
                      <td> {{ projects.Project_Cost}} </td>
                      <!-- <td [hidden]="hideForm(i)"> <i class="fa fa-pencil" (click)="showEditForm(i)"></i> </td>
                      <td [hidden]="!hideForm(i)"> <i class="fa fa-times" (click)="cancelEditForm()"></i> </td> -->
                  </tr>
                    <!-- <tr [hidden]="!hideForm(i)">
                        <td colspan="8">

                        </td>
                    </tr> -->
                </ng-template>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="17">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="col-md-12 cus-background tab-info" [hidden]="showTab" *ngIf="details.Project_Detail">
        <i class="fa fa-times pull-right" (click)="showProjectTab()"></i>
        <div class="clear clearfix"> </div>
        <div class="row cus-row">
            <div class="col-md-4">
                <h6 class="tab-h6"> {{ details.Project_Detail[0].Project_Name }} Project Details </h6>
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-5 col-form-label-sm bold "> Project Name <span class="pull-right"> : </span> </label>
                        <div class="col-md-7">
                            <span class="col-form-label-sm bold"> {{ details.Project_Detail[0].Project_Name }} </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-5 col-form-label-sm bold "> Project Manager <span class="pull-right"> : </span> </label>
                        <div class="col-md-7">
                            <span class="col-form-label-sm bold"> {{ details.Project_Detail[0].Project_Manager }}  </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-5 col-form-label-sm bold "> Account Name <span class="pull-right"> : </span> </label>
                        <div class="col-md-7">
                            <span class="col-form-label-sm bold"> {{ details.Project_Detail[0].Account_Name }}  </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-5 col-form-label-sm bold "> Account Manager <span class="pull-right"> : </span> </label>
                        <div class="col-md-7">
                            <span class="col-form-label-sm bold"> {{ details.Project_Detail[0].Account_Name }}  </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-5 col-form-label-sm bold "> Project Start Date <span class="pull-right"> : </span> </label>
                        <div class="col-md-7">
                            <span class="col-form-label-sm bold"> {{ details.Project_Detail[0].Project_Start_Date | date: 'yyyy-MM-dd' }}  </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-5 col-form-label-sm bold "> Project End Date <span class="pull-right"> : </span> </label>
                        <div class="col-md-7">
                            <span class="col-form-label-sm bold"> {{ details.Project_Detail[0].Project_End_Date  | date: 'yyyy-MM-dd'}}  </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-5 col-form-label-sm bold "> Project Cost <span class="pull-right"> : </span> </label>
                        <div class="col-md-7">
                            <span class="col-form-label-sm bold"> {{ details.Project_Detail[0].Project_Cost}}  </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                  <div class="row">
                      <label class="col-md-5 col-form-label-sm bold "> Total Billed SOW <span class="pull-right"> : </span> </label>
                      <div class="col-md-7">
                          <span class="col-form-label-sm bold"> {{ details.Project_Detail[0].Total_Billed_AP_SOW}}  </span>
                      </div>
                  </div>
              </div>
              <div class="form-group">
                  <div class="row">
                      <label class="col-md-5 col-form-label-sm bold "> Total Billed Profitability <span class="pull-right"> : </span> </label>
                      <div class="col-md-7">
                          <span class="col-form-label-sm bold"> {{ details.Project_Detail[0].Total_Billed_AP_Profitability}}  </span>
                      </div>
                  </div>
              </div>
              <div class="form-group">
                  <div class="row">
                      <label class="col-md-5 col-form-label-sm bold "> Total Profitability <span class="pull-right"> : </span> </label>
                      <div class="col-md-7">
                          <span class="col-form-label-sm bold"> {{ details.Project_Detail[0].Total_Profitability}}  </span>
                      </div>
                  </div>
              </div>
              <div class="form-group">
                  <div class="row">
                      <label class="col-md-5 col-form-label-sm bold "> Project Status <span class="pull-right"> : </span> </label>
                      <div class="col-md-7">
                          <span class="col-form-label-sm bold"> {{ details.Project_Detail[0].Project_Status}}  </span>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-md-4">
                <h6 class="tab-h6"> {{ details.Project_Detail[0].Project_Name }} Project Documents </h6>
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-5 col-form-label-sm bold "> SOW <span class="pull-right"> : </span> </label>
                        <div class="col-md-7">
                            <a href="{{SOWFilePath}}" target="_blank"> SOW file link </a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-5 col-form-label-sm bold "> Profitability <span class="pull-right"> : </span> </label>
                        <div class="col-md-7">
                            <a href="{{ ProfitabilityFilePath }}" target="_blank"> Profitability file link </a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-5 col-form-label-sm bold "> NDA <span class="pull-right"> : </span> </label>
                        <div class="col-md-7">
                            <a href="{{ NDAFilePath }}" target="_blank"> NDA file link </a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-5 col-form-label-sm bold "> MSA <span class="pull-right"> : </span> </label>
                        <div class="col-md-7">
                            <a href="{{ MSAFilePath }}" target="_blank"> MSA file link </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row cus-row">
            <h6 class="tab-h6 clearfix"> Resource Count </h6>
            <div class="col-md-12">
                <table class="table table-bordered table-striped cus-table">
                    <thead class="thead-inverse">
                        <tr>
                            <th> Billed </th>
                            <th> Buffer</th>
                            <th> Blocked </th>
                            <th> New </th>
                            <th> Internal / Overhead </th>
                            <th> Training </th>
                            <th> Leave </th>
                            <th> PIP </th>
                            <th> Notice </th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td></td>
                                <td> 2 </td>
                                <td> 1 </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row cus-row">
            <h6 class="tab-h6 clearfix"> Designation Count </h6>
            <div class="col-md-12">
                <table class="table table-bordered table-striped cus-table">
                    <thead class="thead-inverse">
                        <tr>
                            <th> SBA </th>
                            <th> BA </th>
                            <th> SSE </th>
                            <th> SE </th>
                            <th> Consultant </th>
                            <th> Technical Lead </th>
                            <th> project Manager </th>
                            <th> Account Manager </th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td></td>
                                <td> 2 </td>
                                <td> 1 </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>
