<div class="tracker-section">
    <h6 class="text-muted-header">Employee Profile</h6>
    <div class="horizontal-pipe-line"></div>

	<div class="tabs-details-container">
		<div class="tabs-list">
            <div class="row mt-3">
                <div class="col-sm-6 col-md-12">
                    <ul role="tablist" class="nav nav-tabs justify-content-start">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/basic', employeeid]" href="javascript:void(0)" >
                                BASIC INFORMATION
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/bank', employeeid]" href="javascript:void(0)">
                               BANK INFORMATION
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/family', employeeid]" href="javascript:void(0)">
                               FAMILY / RELATION
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/passport', employeeid]" href="javascript:void(0)">
                               PASSPORT / VISA
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/education', employeeid]" href="javascript:void(0)">
                               EDUCATION / CERTIFICATION
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/experience', employeeid]" href="javascript:void(0)">
                               EXPERIENCE
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/skills', employeeid]" href="javascript:void(0)">
                               SKILLS
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0)">
                               HISTORY
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/resign', employeeid]" href="javascript:void(0)">
                               RESIGN
                            </a>
                        </li>
                    </ul>
                    <div class="family-or-relative tab-content">
                        <div class="tab-info tab-pane active">


                       <!-- Designation Vs Experience -->
                       <div class="tab-info tab-content">
                           <h6 class="row cus-h6">Experience</h6>
                           <div class="row">
                               <div class="col-4">
                                   <div class="row green-bg">
                                       <div class="col-4">
                                           <span class="label item">Prior</span>
                                       </div>
                                       <div class="col-1">
                                           <span class="colon item">:</span>
                                       </div>
                                       <div class="col-6">
                                           <span class="value item">{{otherDetails.experiences.prior}}</span>
                                       </div>
                                   </div>
                               </div>
                               <div class="col-4">
                                   <div class="row green-bg">
                                       <div class="col-4">
                                           <span class="label item">Affine</span>
                                       </div>
                                       <div class="col-1">
                                           <span class="colon item">:</span>
                                       </div>
                                       <div class="col-6">
                                           <span class="value item">{{otherDetails.experiences.affine}}</span>
                                       </div>
                                   </div>
                               </div>
                               <div class="col-4">
                                   <div class="row green-bg">
                                       <div class="col-4">
                                           <span class="label item">Total</span>
                                       </div>
                                       <div class="col-1">
                                           <span class="colon item">:</span>
                                       </div>
                                       <div class="col-6">
                                           <span class="value item">{{otherDetails.experiences.total}}</span>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>

                       <!-- Appraisals -->
                       <div class="tab-info tab-content">
                           <h6 class="table-heading row cus-h6">Appraisals</h6>
                           <div class="row">
                               <div class="col-4 violet-back" *ngFor="let ctc of otherDetails.appraisals; let i = index">
                                   <div class="row violet-bg">
                                       <div class="col-12 border-bottom">
                                           <span class="label item">#{{i + 1}}</span>
                                       </div>
                                   </div>
                                   <div class="row violet-bg">
                                       <div class="col-4">
                                           <span class="label item">Increment (%)</span>
                                       </div>
                                       <div class="col-1">
                                           <span class="colon item">:</span>
                                       </div>
                                       <div class="col-6">
                                           <span class="value item">{{ fetchAppraisal(i) }}</span>
                                       </div>
                                   </div>
                                   <div class="row violet-bg">
                                       <div class="col-4">
                                           <span class="label item">CTC</span>
                                       </div>
                                       <div class="col-1">
                                           <span class="colon item">:</span>
                                       </div>
                                       <div class="col-6">
                                           <span class="value item">{{ ctc.CTC }} LPA</span>
                                       </div>
                                   </div>
                                   <div class="row violet-bg">
                                       <div class="col-4">
                                           <span class="label item">Rating</span>
                                       </div>
                                       <div class="col-1">
                                           <span class="colon item">:</span>
                                       </div>
                                       <div class="col-6">
                                           <span class="value item">
                                               {{ getRatingText( ctc.Rating ) }}
                                           </span>
                                       </div>
                                   </div>
                                   <div class="row violet-bg">
                                       <div class="col-4">
                                           <span class="label item">Designation</span>
                                       </div>
                                       <div class="col-1">
                                           <span class="colon item">:</span>
                                       </div>
                                       <div class="col-6">
                                           <span class="value item">{{ ctc.Designation_Name }}</span>
                                       </div>
                                   </div>
                                   <div class="row violet-bg">
                                       <div class="col-4">
                                           <span class="label item">From</span>
                                       </div>
                                       <div class="col-1">
                                           <span class="colon item">:</span>
                                       </div>
                                       <div class="col-6">
                                           <span class="value item">{{ ctc.Start_Date | date: 'dd-MMM-y'}}</span>
                                       </div>
                                   </div>
                                   <div class="row violet-bg">
                                       <div class="col-4">
                                           <span class="label item">To</span>
                                       </div>
                                       <div class="col-1">
                                           <span class="colon item">:</span>
                                       </div>
                                       <div class="col-6">
                                           <span class="value item">{{ ctc.End_Date | date: 'dd-MMM-y'}}</span>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>

                       <!-- Projects -->
                       <div class="tab-info tab-content">
                           <h6 class="table-heading row cus-h6">Projects</h6>
                           <div class="row">
                               <div class="col-4 blue-back" *ngFor="let proj of otherDetails.projects; let i = index">
                                   <div class="row blue-bg">
                                       <div class="col-12 border-bottom">
                                           <span class="label item">#{{i + 1}}</span>
                                       </div>
                                   </div>
                                   <div class="row blue-bg">
                                       <div class="col-4">
                                           <span class="label item">Name</span>
                                       </div>
                                       <div class="col-1">
                                           <span class="colon item">:</span>
                                       </div>
                                       <div class="col-6">
                                           <span class="value item">{{ proj.Project_Name }}</span>
                                       </div>
                                   </div>
                                   <div class="row blue-bg">
                                       <div class="col-4">
                                           <span class="label item">Manager</span>
                                       </div>
                                       <div class="col-1">
                                           <span class="colon item">:</span>
                                       </div>
                                       <div class="col-6">
                                           <span class="value item"> {{ proj.Project_Manager }} </span>
                                       </div>
                                   </div>
                                   <div class="row blue-bg">
                                       <div class="col-4">
                                           <span class="label item">Department</span>
                                       </div>
                                       <div class="col-1">
                                           <span class="colon item">:</span>
                                       </div>
                                       <div class="col-6">
                                           <span class="value item">
                                               {{ proj.Department_Name }}
                                           </span>
                                       </div>
                                   </div>
                                   <div class="row blue-bg">
                                       <div class="col-4">
                                           <span class="label item">From</span>
                                       </div>
                                       <div class="col-1">
                                           <span class="colon item">:</span>
                                       </div>
                                       <div class="col-6">
                                           <span class="value item">{{ proj.Start_Date | date: 'dd-MMM-y' }}</span>
                                       </div>
                                   </div>
                                   <div class="row blue-bg">
                                       <div class="col-4">
                                           <span class="label item">To</span>
                                       </div>
                                       <div class="col-1">
                                           <span class="colon item">:</span>
                                       </div>
                                       <div class="col-6">
                                           <span class="value item">{{ proj.End_Date | date: 'dd-MMM-y' }}</span>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>

                       <!-- More details -->
                       <div class="row">
                           <div class="col-md-12">
                               <button class="btn btn-link more" (click)="toggleMoreDetails()"> {{ moreDetailsButtonText }} </button>
                           </div>
                       </div>
                       <div class="tab-info tab-content" [hidden]="hideMoreDetails">
                         <table class="table table-bordered table-striped cus-table">
                             <thead class="thead-inverse">
                                 <tr>
                                     <th> # </th>
                                     <th> Designation </th>
                                     <th> Location </th>
                                     <th> Project </th>
                                     <th> Start Date </th>
                                     <th> End Date </th>
                                     <th> CTC </th>
                                     <th> Rating </th>
                                     <th> Action </th>
                                 </tr>
                             </thead>
                             <tbody>
                                  <ng-template ngFor let-history [ngForOf]="historyDetails" let-i="index">
                                      <tr class="row-{{ i }}">
                                          <td> {{ i + 1 }} </td>
                                          <td>
                                              <select class="id-name-select-match" [ngModel]="history.Current_Designation">
                                                  <option *ngFor="let desg of dataStream.designations" value="{{ desg.Designation_Id }}">
                                                      {{ desg.Designation_Name }}
                                                  </option>
                                              </select>
                                          </td>
                                          <td> {{ history.Current_Location }} </td>
                                          <td> {{ history.Project_Name }} </td>
                                          <td> {{ history.Company_History_Start_date | date: 'dd-MMM-y'}} </td>
                                          <td> {{ history.Company_History_End_date | date: 'dd-MMM-y' }} </td>
                                          <td> {{ history.Current_CTC }} </td>
                                          <td>
                                              <select class="form-control" [ngModel]="history.Rating" disabled>
                                                  <option value="0"> -NA- </option>
                                                  <option value="1"> Poor </option>
                                                  <option value="2"> Average </option>
                                                  <option value="3"> Excellent </option>
                                              </select>
                                           </td>
                                          <td [hidden]="hideForm(i)"> <i class="fa fa-pencil" (click)="showEditForm(i)"></i> </td>
                                          <td [hidden]="!hideForm(i)"> <i class="fa fa-times" (click)="cancelEditForm()"></i> </td>
                                      </tr>
                                      <tr [hidden]="!hideForm(i)">
                                          <td colspan="9">
                                              <history-form [histDetails]="history"></history-form>
                                          </td>
                                      </tr>
                                  </ng-template>
                             </tbody>
                         </table>
                         <button class="btn btn-default btn-primary add" (click)="showHistoryForm()"> Add a new update </button>
                         <form #histForm="ngForm" (ngSubmit)="onSubmit(histForm.value)" novalidate class="tab-info tab-content" [hidden]="hideNewHistoryForm">
                             <div class="row">
                                 <div class="col-md-5">
                                     <div class="form-group">
                                         <div class="row">
                                             <label class="col-md-4"> Designation <span class="pull-right"> : </span> </label>
                                             <div class="col-md-8">
                                                 <select class="form-control" name="Current_Designation" [(ngModel)]="Current_Designation" #name="ngModel" required>
                                                     <option *ngFor="let desg of dataStream.designations" value="{{ desg.Designation_Id }}">
                                                        {{ desg.Designation_Name }}
                                                     </option>
                                                 </select>
                                             </div>
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <div class="row">
                                             <label class="col-md-4"> Start Date <span class="pull-right"> : </span> </label>
                                             <div class="col-md-8">
                                                 <input type="date" class="form-control" name="Company_History_Start_date" [(ngModel)]="Company_History_Start_date" #name="ngModel" required>
                                             </div>
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <div class="row">
                                             <label class="col-md-4"> Location <span class="pull-right"> : </span> </label>
                                             <div class="col-md-8">
                                                 <select class="form-control" name="Current_Location" [(ngModel)]="Current_Location" #name="ngModel" required>
                                                     <option value="Bangalore_Cessna"> BANGALORE CESSNA </option>
                                                     <option value="Bangalore_HSR"> BANGALORE HSR </option>
                                                     <option value="US"> US </option>
                                                     <option value="Client"> Client </option>
                                                 </select>
                                             </div>
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <div class="row">
                                             <label class="col-md-4 "> Rating <span class="pull-right"> : </span> </label>
                                             <div class="col-md-8 ">
                                                 <select class="form-control" name="Rating" [(ngModel)]="Rating" #name="ngModel" required>
                                                     <option value="0"> -NA- </option>
                                                     <option value="1"> Poor </option>
                                                     <option value="2"> Average </option>
                                                     <option value="3"> Excellent </option>
                                                 </select>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-md-5">
                                     <div class="form-group">
                                         <div class="row">
                                             <label class="col-md-4"> Project <span class="pull-right"> : </span> </label>
                                             <div class="col-md-8">
                                                 <select class="form-control" name="Project_Id" [(ngModel)]="Project_Id" #name="ngModel" required>
                                                     <option *ngFor="let proj of dataStream.projects" value="{{ proj.Project_Id }}">
                                                         {{ proj.Project_Name }}
                                                     </option>
                                                 </select>
                                             </div>
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <div class="row">
                                             <label class="col-md-4"> End Date <span class="pull-right"> : </span> </label>
                                             <div class="col-md-8">
                                                 <input type="date" class="form-control" name="Company_History_End_date" [(ngModel)]="Company_History_End_date" #name="ngModel">
                                             </div>
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <div class="row">
                                             <label class="col-md-4"> CTC <span class="pull-right"> : </span> </label>
                                             <div class="col-md-8">
                                                 <input type="number" min="0" step=".01" class="form-control" name="Current_CTC" [(ngModel)]="Current_CTC" #name="ngModel" required>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col-md-12">
                                     <button class="btn btn-default btn-primary save pull-right" type="submit"> Save </button>
                                     <button class="btn btn-default btn-secondary cancel pull-right" (click)="hideHistoryForm()"> Cancel </button>
                                 </div>
                             </div>
                         </form>

                       </div>



                   </div>

                   </div>

                </div>
            </div>

		</div>
	</div>
</div>
