<form novalidate #applUpdForm="ngForm">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <div class="row">
                    <label class="col-2"> Manager <span class="pull-right"> : </span> </label>
                    <div class="col-6">
                        <input class="form-control mr-sm-2" type="text"  name="Manager" [ngModel]="detailsObj.Manager_Id" placeholder="Manger Name / ID" list="employees" required />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-2"> Comments <span class="pull-right"> : </span> </label>
                    <div class="col-6">
                        <textarea class="form-control" name="Comment" [ngModel]="Comment" #name="ngModel" placeholder="Optional Comment / Remark"> </textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <div class="row">
                    <label class="col-md-3"> Resignation Date <span class="pull-right"> : </span> </label>
                    <div class="col-md-6">
                        <input type="date" class="form-control" name="Resign_Date" [ngModel]="detailsObj.Resign_Date | date: 'yyyy-MM-dd'" required />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-3"> Last Working Day <span class="pull-right"> : </span> </label>
                    <div class="col-md-6">
                        <input type="date" class="form-control" name="Term_Date" [ngModel]="detailsObj.Last_Date | date: 'yyyy-MM-dd'" required />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <div class="row">
                <div class="col-9">
                    <button class="btn btn-default btn-success submit pull-right" type="approve" [hidden]="!approveAction" (click)="onApproveResign(applUpdForm.value)"> Approve </button>
                    <button class="btn btn-default btn-warning submit pull-right" type="reject" [hidden]="!approveAction" (click)="onRejectResign(applUpdForm.value)"> Reject </button>
                    <button class="btn btn-default btn-primary submit pull-right" type="submit" [hidden]="approveAction" (click)="onUpdateApplyResign(applUpdForm.value)"> Submit </button>
                    <button class="btn btn-default btn-secondary cancel pull-right" type="cancel" (click)="cancelUpdate()"> Cancel </button>
                </div>
            </div>
        </div>
    </div>
</form>
