.tab-content > .active {
    min-height: 450px;
}
data-table-header {
    display:none !important;
}
.data-table-header {
  display:none !important;
}
.table {
    margin-top: 4px;
    thead {
        th {
            font-size: 11px;
            text-align: center;
            paddding:3px !important;
            white-space: nowrap;
            overflow: hidden;
            text-transform: uppercase;
        }
    }
    tbody {
        tr {
            font-size: 12px;
            text-align: center;
        }
    }
}
label {
  font-size: 12px !important
}
.center {
  text-align: center
}
