<div class="admin-section" [@routerTransition]>
    <h6 class="text-muted-header"> Resources </h6>
    <div class="horizontal-pipe-line"></div>
    <div class="tabs-details-container">
        <div class="tabs-list">
            <ngb-tabset>
              <ngb-tab>
                    <ng-template ngbTabTitle>Projects</ng-template>
                    <ng-template ngbTabContent>
                        <div class="pad-10">
                          
                        </div>
                        <div class="pad-10">
                        <div class="col-md-12 cus-background">
                          <app-projects-tab-content></app-projects-tab-content>
                        </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>Resources</ng-template>
                    <ng-template ngbTabContent>
                        <app-resources-tab-content></app-resources-tab-content>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>Utilization</ng-template>
                    <ng-template ngbTabContent>
                        <div class="col-md-3 nav-link-column">
                            <h6 class="text-muted-sub-header"> Core Actions </h6>
                            <div class="horizontal-pipe-line"></div>
                            <div class="nav-link-actions">
                                <div class="nav-link-box">
                                    sgdiuh
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>
