<div class="breadcrumbs">
    <a [routerLink]="['/admin']" class="nav-link-action bc-text">
        Admin
    </a>
    <span class="gt-symbol">></span>
    <a [routerLink]="['/admin']" class="nav-link-action bc-text">
        Employee
    </a>
    <span class="gt-symbol">></span>
    <span class="bc-text active">Add Employee</span>
</div>
<div class="horizontal-pipe-line"></div>
<div class="tabs-details-container">
    <div class="tabs-list">
        <div class="row mt-3">
            <div class="col-sm-6 col-md-12">
                <ngb-tabset>
                    <ngb-tab>
                        <ng-template ngbTabTitle>EMPLOYEE INFORMATION</ng-template>
                        <ng-template ngbTabContent>
                            <app-employee-basic-details [action]="action"></app-employee-basic-details>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>
