<form [formGroup]="skillDetailsForm" (ngSubmit)="onSubmit()" novalidate class="tab-info tab-content">

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <div class="row" *ngIf="empId">
                    <label class="col-md-4"> Emp ID <span class="pull-right"> : </span> </label>
                    <div class="col-md-8">
                        <input type="text" name="Employee_ID" formControlName="empId" [ngModel]="empId" class="form-control" required readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <div formArrayName="skillExps" class="well well-lg">
    <div *ngFor="let address of skillExps.controls; let i=index" [formGroupName]="i" >
      <!-- The repeated work experience template -->
      <div class="row">
          <div class="col-md-1">
              <h6 class="tab-h6"> Skill {{i + 1}}</h6>
          </div>
          <div class="col-md-1">
              <i class="fa fa-times rm-work-exp" aria-hidden="true" (click)="removeSkill()" title="Remove Skill {{i + 1}}"></i>
          </div>
      </div>
      <div class="row">
          <div class="col-md-3">
              <div class="form-group">
                  <div class="row">
                      <label class="col-md-4"> Technology <span class="pull-right"> : </span> </label>
                      <div class="col-md-8">
                          <select class="form-control" name="Skill_Id" formControlName="Skill_Id" [ngModel]="Skill_Id" required>
                              <option *ngFor="let skill of dataStream.skills" value="{{ skill.Map_Skills_Id }}">
                                  {{ skill.Map_Skills_Name }}
                              </option>
                          </select>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="form-group">
                  <div class="row">
                      <label class="col-md-3"> Level <span class="pull-right"> : </span> </label>
                      <div class="col-md-8">
                          <select class="form-control" name="Skill_Level_Name" formControlName="Skill_Level_Name"  required>
                              <option *ngFor="let lev of levels" value="{{ lev }}">
                                  {{ lev }}
                              </option>
                          </select>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <div class="row">
                      <label class="col-md-2"> Experience <span class="pull-right"> : </span> </label>
                      <div class="col-md-3">
                          <select class="form-control" name="Skill_Exp_Years" formControlName="Skill_Exp_Years"  required>
                              <option *ngFor="let yr of years" value="{{ yr }}">
                                  {{ yr }}
                              </option>
                          </select>
                      </div>
                      <span class="col-md-1 post-fix-text"> Years </span>
                      <div class="col-md-3">
                          <select class="form-control" name="Skill_Exp_Months" formControlName="Skill_Exp_Months"  required>
                              <option *ngFor="let mn of months" value="{{ mn }}">
                                  {{ mn }}
                              </option>
                          </select>
                      </div>
                      <span class="col-md-1 post-fix-text"> Months </span>
                  </div>
              </div>
          </div>
      </div>

      <!-- End of the repeated work experience template -->
    </div>

  </div>
  <div class="row button-group">
      <div class="col-md-6 align-left">
          <button (click)="addSkill()" type="button" class="btn btn-secondary">Add Skill</button>
      </div>
      <div class="col-md-6 align-right">
          <button class="btn btn-default btn-primary save" type="submit"> Save </button>
      </div>
  </div>
</form>
