<form #skillForm="ngForm" (ngSubmit)="onSubmit(skillForm.value)" novalidate class="tab-info tab-content">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <div class="row">
                    <label class="col-md-4"> Skill <span class="pull-right"> : </span> </label>
                    <div class="col-md-8">
                        <select class="form-control" name="Skill_Id" [ngModel]="skillDetail.Skill_Id" required>
                            <option *ngFor="let skill of dataStream.skills" value="{{ skill.Map_Skills_Id }}">
                                {{ skill.Map_Skills_Name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="row">
                    <label class="col-md-3"> Level <span class="pull-right"> : </span> </label>
                    <div class="col-md-8">
                        <select class="form-control" name="Skill_Level_Name" [ngModel]="skillDetail.Skill_Level_Name" required>
                            <option *ngFor="let lev of levels" value="{{ lev }}">
                                {{ lev }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="row">
                    <label class="col-md-2"> Experience <span class="pull-right"> : </span> </label>
                    <div class="col-md-3">
                        <select class="form-control" name="Skill_Exp_Years" [ngModel]="skillDetail.Skill_Exp_Years" required>
                            <option *ngFor="let yr of years" value="{{ yr }}">
                                {{ yr }}
                            </option>
                        </select>
                    </div>
                    <span class="col-md-1 post-fix-text"> Years </span>
                    <div class="col-md-3">
                        <select class="form-control" name="Skill_Exp_Months" [ngModel]="skillDetail.Skill_Exp_Months" required>
                            <option *ngFor="let mn of months" value="{{ mn }}">
                                {{ mn }}
                            </option>
                        </select>
                    </div>
                    <span class="col-md-1 post-fix-text"> Months </span>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-default btn-primary save pull-right " type="submit"> Save </button>
</form>
